.profile-image {
    width: 30%; 
}

.nav-tabs > li {
    float: none;
    display: inline-block !important;
    zoom:1;
}

.nav-tabs{
    text-align: center;
}

.navigation-bar{
    border-bottom: 3px solid #333;
    margin-bottom: 3%;
}

.table {
    background-color: white;
}

.glyphicon.glyphicon-chevron-right, .glyphicon.glyphicon-chevron-left{
    font-size: 2em;
  }

#iInfo{
    display: none;
}

